<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Timeline</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheet %}
    <link rel="stylesheet" media="all" href="{{ url_for('send_theme_file', filename='timelinepage.css') }}">
    {% endblock %}

  </head>
  <body ng-app="timeline">
    <div class="container">

      <header role="banner" class="row">
        <section class="col-md-8 col-md-offset-2">
          <h1>
            Timeline
          </h1>
          <p><em>
            A simple timeline web application using Angular.
          </em></p>
          <p>
          <a href="https://gitlab.com/jkenlooper/timeline">
            Timeline source code hosted on gitlab.com.
          </a>
          </p>
        </section>
      </header>

      <main role="main">
      {% block body %}
      <section ng-controller="TimelineCtrl">
        <h2>
          Timeline Controller
        </h2>
        <p>
        Enter the date and time for an event to add it to the list.
        </p>

        <form class="form-horizontal" ng-submit="addEvent()">
          <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title: </label>
            <div class="col-sm-10">
              <input name="title" class="form-control" id="title" type="text" ng-model="title">
            </div>
          </div>
          <div class="form-group">
            <label for="eventDatetime" class="col-sm-2 control-label">Datetime: </label>
            <div class="col-sm-10">
              <input ng-hide="true" class="form-control" name="eventDatetime" id="eventDatetime" type="datetime-local" step="1" ng-model="eventDatetime">
            </div>
          </div>
          <div class="col-sm-offset-2 col-sm-10 well">
            <uib-datepicker ng-model="eventDatetime" datepicker-options="dateOptions"></uib-datepicker>
            <uib-timepicker ng-model="eventDatetime" show-seconds="true"></uib-timepicker>
          </div>
          </fieldset>
          <div class="col-sm-offset-2 col-sm-10">
            <div class="form-group">
              <button class="btn btn-primary" type="submit">
                Add Event
              </button>
            </div>
          </div>
        </form>

        <p><strong>Status message:</strong><br>
        {% raw %}{{ message }}{% endraw %}
        </p>

        <div>
          <h2>
            Ordered list of events in the timeline:
          </h2>
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="query">Search:</label>
              <div class="col-sm-10">
                <input class="form-control" id="query" type="search" placeholder="I can has cheezburger" ng-model="query">
              </div>
            </div>
          </div>
          <ol>
            <li ng-repeat="event in events | filter: query | orderBy: 'timestamp'">
              <timeline-event></timeline-event>
            </li>
          </ol>
        </div>
      </section>
      {% endblock %}
      </main>

      {% block script %}
      <script src="{{ url_for('send_theme_file', filename='commons.bundle.js') }}"></script>
      <script src="{{ url_for('send_theme_file', filename='timelinepage.bundle.js') }}"></script>
      {% endblock %}
  </body>
</html>
