.TimelineEvent {
}
.TimelineEvent-timestamp {
}
.TimelineEvent-title {
}
.TimelineEvent-timestamp + .TimelineEvent-title::before {
  /* Only if the timestamp is before a title does the separator need to be
   * used. */
  content: ' - ';
}
